# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Кэши Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Логи
*.log
app.log.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db